#notebooks{
    height: 100vh;
    position: relative;
}

.notebooks-searchPanel{
    position: relative;
    height: 60px;
    width: 100%;
    background-color: #fff;
}

.notebooks-list{
    position: relative;
    height: 100%;
}