.view-wrapper(ng-init="setHeading('My Notebooks');$scope.show='true'")
		.content-container
			#notebooks
				#notebooks-header
					.heading-box
						div.heading notebooks
						#notebooks-options
							button#addNotebook(data-modal-button class="fa fa-plus")
								modal#modal()
									#modal-Notebooks
										p Name your notebook
										input(type="text" placeholder="" ng-model="notebookName")
										#createNotebook( ng-controller="notebooksCtrl" ng-click="createNotebook(notebookName)" ) create
							button#removeNotebook(class="fa fa-times")
						.search-bar(ng-show="$scope.show")
								input(type="text" ng-model="filter" placeholder="filter")
								span
									i(class="fa fa-search")
				.notebooks-list
					notebooks-list
