.view-wrapper(ng-init="setHeading('My Notebooks');$scope.show='true'")
		.content-container
			#notebooks
				.notebooks-searchPanel
					.notebooks-searchBar
						span Filter
						input
				.notebooks-list
					notebooks-list