#note-list-container
  ul
    li(ng-repeat="notebook in notebooks()"  class="{{notebook.subject}}" ng-click="opennotebook($index)")
        .list-item-body
            .list-item-stats-holder
                .list-item-stat
                    i(class="fa fa-eye")
                    span
                .list-item-stat
                    i(class="fa fa-heart-o")
                    span
            .list-item-details
                .list-item-details-top
                    .list-item-title {{notebook.name}}
                    .list-item-tags
                    .list-item-time
                .list-item-details-bottom
                    .list-item-description Owner : {{notebook.OwnerName}}
                    .list-item-author Time :{{notebook.createdAt}}
                    //- time should actually be the notebook.time, and converted to readablee string
                    //- find a library to that for you