ul#notebooks-list-container
  li.notebook(ng-repeat="notebook in notebooks"  class="{{notebook.subject}}" ng-click="openNotebook(notebook.name)" onclick="if($('.content-panel').attr('show') == 'false'){$('.content-panel').attr('show','true');}else{$('.content-panel').attr('show','false');}")
        .notebook-body
            .notebook-body-details
                .list-item-details-top
                    .list-item-title {{notebook.name}}
                    .list-item-tags Notes {{notebook.Notes.length}}
                    .list-item-time
                .list-item-details-bottom
                    .list-item-description Owner : {{notebook.OwnerName}}
                    .list-item-author Time :{{notebook.createdAt}}
                    //- time should actually be the notebook.time, and converted to readablee string
                    //- find a library to that for you