#header-holder
  #header(class='row')
    #logo(class='col-sm-5')
      #logo-pix Pix- 
      #logo-e E
        #logo-lander L A N D E R
      #git-hub
        a(href='https://github.com/Steams/lander' class="fa fa-github-alt")
      #logout
        a(href='#' class='fa fa-sign-out')

    #second-bar(class='col-sm-7 row' style="padding:0;margin:0;")
      #user-bar(class='col-md-8')
        #user-greeting Welcome Back
        #user-name {{name}}
          #user-icon-holder
            img#user-icon(src='assets/images/radcliffe.jpg')
        
      #edit-bar(class='col-md-4')
        #create-note(class="fa fa-pencil")

  #menu-button(class='menu-button-default-animation' on='false')
    h1
      span(class='fa fa-book')
