//Animations____________________________________________________________________
@keyframes pull-down {
  20%  {bottom:  Calc(100% - 120px);}
  100% {bottom:  Calc(100% - 80px);}
}

.menu-button-default-animation{
  bottom:Calc(100% - 120px);
//  @media screen and (max-width: $break-tablet) {
////    bottom:Calc(100% - 150px);
//  }
}

.menu-button-default-animation:hover{
  bottom:Calc(100% - 130px);
//  @media screen and (max-width: $break-tablet) {
//    bottom:Calc(100% - 170px);
//  }
}

.menu-button-default-noHover-animation{
  bottom:Calc(100% - 120px);
//  @media screen and (max-width: $break-tablet) {
//    bottom:Calc(100% - 150px);
//  }
}

.menu-button-close-start-animation{
  bottom:Calc(100% - 140px);
//  @media screen and (max-width: $break-tablet) {
//    bottom:Calc(100% - 180px);
//  }
}

.menu-button-close-end-animation{
  bottom:Calc(100% - 90px);
//  @media screen and (max-width: $break-tablet) {
//    bottom:Calc(100% - 130px);
//  }
}

.menu-button-close-hover-animation{
  bottom:Calc(100% - 90px);
//  @media screen and (max-width: $break-tablet) {
//    bottom:Calc(100% - 130px);
//  }
}

.menu-button-close-hover-animation:hover{
  bottom:Calc(100% - 100px);
//  @media screen and (max-width: $break-tablet) {
//    bottom:Calc(100% - 140px);
//  }
}

// Extendables__________________________________________________________________
.header-box{
  display:flex !important;
  align-items:center !important;
  font-family:'Oswald';
  // font-family:'Squada One';
  font-weight:300;
}

.toolbar-icon{
  position:relative;
  padding: 5px;
}
.toolbar-icon:hover{
  position:relative;
  font-size:1.3em;
  // background-color:#d9d9d9;
  @include border-radius(5px,5px,5px,5px,1px,$myGrey);
  padding: 5px;
  cursor: pointer;
  // border:1px solid #979797;
}

.toolbar-icon:active{
  position:relative;
  font-size:1.3em;
  background-color:#d9d9d9;
  @include border-radius(5px,5px,5px,5px,1px,$myGrey);
  padding: 5px;
  cursor: pointer;
  // border:1px solid #979797;
  @media screen and (max-width: $break-medium) {
    background-color:#232323;
  }
}


//Main Header Styles____________________________________________________________
#header{
  @extend .header-box;
  position:fixed;
  top:0px;
  left:0px;
  height:$headerHeight;
  width:100%;
  display: block;
  background-color:$my-dark-orange;
  margin:0px;
  z-index: 5;
  @include box-shadow(0px,1px,10px,0px);
}

#logo{
  @extend .header-box;
  flex-grow: 1;
//  width: 340px;
  max-width: 340px;
  font-size:2em;
  justify-content: center;
  height:100%;
  background-color:$my-dark-orange;
  img{
    height: 100%;
    width: 70px;
  }
}

#logo-pix{
  height: 100%;
  line-height: $headerHeight;
}

#logo-e{
  color: #1dc465;
  height: 100%;
  line-height: $headerHeight;

}

#logo-lander{
  height: 50%;
  font-size:.5em;
  font-weight:400;
  // color:#a8a8a8;
  color:#2F343B ;
  font-family:'Squada One';
}

#git-hub,#logout{
  margin-left:60px;
}

#menu-button{
  position:absolute;
  width:70px;
  height:$menuButtonHeight;
  right:Calc(100% - 300px);
  text-align:center;
  background-color:$dark;
  color:$my-dark-blue;
  z-index: 4;
  // transform:translate(100%,0);
  @include box-shadow(1px,2px,5px,0px);
  transition-property:bottom;
  transition-duration:0.3s;
  @include border-radius(5px,5px,5px,5px,1px,$dark);
  @media screen and (max-width: $break-medium) {
    right:0px;
  }

}

#menu-button:hover{
  cursor: pointer;
}

#menu-button h1{
  font-size:40px;
  display: block;
  position:absolute;
  left:50%;
  transform:translate(-50%,0);
  bottom:0px;
  margin:0;
}
#second-bar{
//  width: 50px;
  height:100%;
//  @extend .header-box;
  background-color: #fff;
  @media screen and (max-width: $break-medium) {
    background-color:$dark;
    color:$myGrey;
    // z-index: 1;
  }
}

#user-greeting{
  color:$my-dark-orange;
  position: relative;
  text-align: right;
  @extend .header-box;
  justify-content: flex-end;
  padding-right: 0px !important;
  height: 100%;
//  line-height: $headerHeight;
  @media screen and (max-width: $break-tablet) {
    justify-content: flex-start;
    text-align: left;
    height: 50%;
  }
}

#user-bar{
  height: 100%;
  @extend .header-box;
  @media screen and (max-width: $break-tablet) {
    height: 50%;
  }
}

#user-name{
  font-family:'Squada One';
  color:$my-dark-blue;
//  text-transform:uppercase;

}a
#user-icon-holder{

}
#user-icon{
  // @extend .toolbar-icon;
  height:40px;
  width:40px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  @include border-radius(30px,30px,30px,30px,1px,#60325a);
  margin-left:20px;
  margin-bottom:5px;
}


#edit-bar{
  @extend .header-box;
  position: absolute;
  right: 20px;
  bottom:10px;
}

#create-note{
  @extend .toolbar-icon;
  font-size: 1.5em;
  color: $my-dark-orange;
  // background-color: #DDD;
}
