// Extendables_________________________________________________________________

.menu-icon{
  position:absolute;
  padding: 5px;
}
.menu-icon:hover{
  font-size:1.1em;
  // background-color:#eaeaea;
  @include border-radius(5px,5px,5px,5px,2px,#3a4d41);

  cursor: pointer;
  // border:1px solid #979797;
}

.menu-icon:active{
  font-size:1.1em;
  background-color:#202020;
  @include border-radius(5px,5px,5px,5px,1px,#3a4d41);

  cursor: pointer;
  // border:1px solid #979797;
  @media screen and (max-width: $break-medium) {
    background-color:#232323;
  }
}
// Styles______________________________________________________________________
#menu{
  position:fixed;
  display: flex;
  flex-direction:column;
  top:60px;
  height:Calc(100% - 60px);

  max-width:340px;
  width:100%;
  z-index: 3;
  @media screen and (min-resolution: 120dppx){
    /* Retina-specific stuff here */
    max-width:1000px;
    display: none;
  }
  @media screen and (max-width: $break-medium) {
    max-width:60%;
    width:60%;
  }

  @media screen and (max-width: $break-tablet) {
    max-width:60%;
    width:60%;
  }

  @media screen and (max-width: $break-small) {
    max-width:70%;
    width:70%;
  }
  background-color: #2F343B;
  left:-999px;
  // left:0px;
  transition-property:left;
  transition-duration:1s;
  @include box-shadow(1px,4px,10px,0px);
  color: #ffffff;
}

// #menu-settings[show="false"]{
//     opacity: 0;
//     transition-property:height,border-top,border-bottom,opacity;
//     transition-duration:0.6s;
//     transition-timing:ease-out;
//     height:0px;
// //    display: none;
// }
// #menu-settings[show="true"]{
//   display:flex;
//   opacity:1;
//   flex-direction: column;
//   position:absolute;
//   top:0px;
//   left:0px;
//   height:300px;
//   width:100%;
//   background-color: #ffffff;
//   transition-property:height,border-top,border-bottom,opacity;
//   transition-duration:0.6s;
//   transition-timing:ease-out;
//   border-bottom:0;
//   border-top:0;
//   padding-top:10px;
//   // border-bottom:5px solid #5eb793;
//   font-family:"Oswald";
//   // font-weight:300;
//   color: #2D3138;
//   z-index: 7;
// }
// .settings-category{
//   display: flex;
//     height: 50px;
//   span{
//     width:30%;
//     opacity:1;
//     transition-property:opacity;
//     transition-duration:0.3s;

//   }
//   input{
//     display: block;
//     opacity:1;
//     transition-property:opacity;
//     transition-duration:0.3s;
//     width:60%;
//   }
// }


// #menu-settings-title{
//   height:30px;
//   // top:0px;
//   width:100%;
//   background-color:#fefefe;
//   text-align:center;
//   color: #534f4f;
// }

// #menu-settings-close{
//   height:30px;
//   position:relative;
// //  bottom:0px;
//   // margin-bottom:10px;
//   width:100%;
//   background-color:#fefefe;
//   text-align:center;
//   color: #534f4f;
//   span{
//     position:absolute;
//     top:50%;
//     left:0px;
//     transform:translate(0,-50%);
//     line-height:30px;
//   }
// }

// #menu-settings-close:hover{
//   cursor: pointer;
// }
// .settings-close-icon{
//   width:100%;
//   height:100%;
//   text-align:center;
// }

.ok{
  background-color:#549d9f;
  transition-property:background-color;
  transition-duration:0.3s;
}

.ok:hover{
  background-color:#498b89;
}

.ok:active{
  background-color:#3e7671;
}

.cancel{
  background-color:rgba(54, 46, 45, 0.61);
}
#menu-header{
  position:absolute;
  height:50px;
  width:100%;
  background-color: #2F343B;
  color: #ffffff;
  font-family:"Roboto";
  font-weight:300;
  margin:0 !important;
  div{
    display: inline-block;

  }
}
#menu-icon{
  position:absolute;
  top:50%;
  transform:translate(0,-50%);
  left:25px;
  font-size:30px;
  // opacity:0;
}
#menu-title{
  // opacity:0;
  position:absolute;
  top:50%;
  left:80px;
  transform:translate(0,-50%);
  margin:0;
  font-size:25px;

}
#menu-toolbar{
  position:absolute;
  top:50px;
  height:50px;
  width:100%;
  padding-left:10px;
  background-color: #2D3138;
  z-index: 4;
}


#menu-settings-icons{
  position:absolute;
  position:absolute;
  top:50%;
  transform:translate(0,-50%);
  height:30px;
  width:30%;
  font-size:20px;
  span{
    @extend .menu-icon;
    font-size:1em;
  }
}

#menu-search{
  position:absolute;
  top:50%;
  transform:translate(0,-50%);
  height:30px;
  width:70%;
  right:0px;
}


#filter{
  // @include border-radius(5px,5px,5px,5px,1px,#2D3138);
  border:0;
  position:absolute;
  top:50%;
  transform:translate(0,-50%);
  padding:3px;
  width:0%;

  // background-color: #c1cfe6;
  background-color: #2D3138;
  transition-property:background-color,width;
  transition-duration:0.5s;
  color:#b0c6be;
  font-size:12px;
  font-weight:700;
}

#filter:focus{
  background-color:#ffffff;
}

#search-icon{
  @extend .menu-icon;
  right:200px;
  transition-property :right;
  transition-duration:0.5s;
  top:50%;
  transform:translate(0,-50%);
  color: $myGrey;
  font-size:1em;
}
