aside#menu
  #menu-header(class='')
    #menu-icon(class="fa fa-cubes ")
    p#menu-title(class="") Note Book
  #menu-toolbar
    #menu-settings-icons
      span(class="fa fa-cog" id="menu-settings-button" )
    #menu-search
      input#filter(placeholder='filter by content...' ng-model="filter")
    #search-icon(class='fa fa-search')
  #menu-settings(on='false')
    #menu-settings-title Search Settings

    .settings-category
      span.subject-label Subject
      input.subject-input(type='text' list='subjects' ng-model="search.subject")
    br
    .settings-category
      span.subject-label Author
      input.subject-input(type='text' list='Authors' ng-model="search.author")
    br
    .settings-category
      span.subject-label Contains Text
      input.subject-input(type='text' ng-model="search.content" value="uytf")
    #menu-settings-close(ng-click="loadList(search.subject)")
      //- span(class="glyphicon glyphicon-remove settings-close-icon cancel")
      span(class="glyphicon glyphicon-circle-arrow-up settings-close-icon ok")

    datalist(id="subjects")
      option Mathematics
      option English
      option Engineering
      option All
    datalist(id="Authors")
      option Radcliffe
      option Skai
      option Charles

  list
