#list-container
  ul
    li(ng-repeat="note in notes() | filter:$parent.filter" class="{{note.subject}}" ng-click="openNote($index)")
      .list-item-content
        .list-item-top
          h4 {{note.title}}
          br
          p {{note.desc}}
        .list-item-bottom
         h4 Author : {{note.Author.name}}
         h6(class="likes") Likes : {{note.likeCount}}
         h6(class="views") Views : {{note.viewCount}}




