#submission-holder{
  display: flex;
  position:absolute;
  top:60px;
  width:100%;
  height:Calc(100% - 70px);
  margin: 0px;
//  padding-top: 1px;
//  border-top: 1px solid #EEE8D8;
  overflow: hidden;
}

#submitDrawer{
  height:100%;
  background-color:#fff;
  color:#ffffff;
//  width: 340px;
  max-width:340px;
  // width:270px;
  // width:0px;
  // flex-grow:1;
  transition-property:top,height,width;
  transition-duration:0.5s;
  padding:0px;
  padding-top:50px;
  @media screen and (max-width: $break-medium) {
//    width: 25%;
     position: absolute;
    top:0px;
    z-index: 4;
  }
  @media screen and (max-width: $break-small) {
    width: 300px;
//    height:Calc(100% - 70px);
    padding-top:10px;
  }
}

#sub-options-holder{
  height:100%;
  width:100%;
}

.sub-option{
  display: block;
  width:100%;
  text-align:center;
  margin-top:20px;
  color:#626262;
  font-family:"Oswald";

  input{
    height:40px;
    padding: 10px;
    width:70%;
  }
}

#submitButton{
  height: 40px;
  width:100%;
  background-color:#FE5621;
  transition-property:background-color;
  transition-duration:0.3s;

  span{
    line-height:40px;
    font-weight:700;
    color:#528845;
    font-size:30px;
  }

}

#submitButton:hover{
  cursor: pointer;
  background-color: #4BAE4F;
}
#submitButton:active{
  cursor: pointer;
  background-color: #3a8436;
}
#openSubmitDrawer{
  position:fixed;
  top:20px;
  opacity:1;
  left:10px;
  font-size:30px;
  z-index: 5;
  transform:rotate(0deg);
  transition-property:transform,top,opacity;
  transition-duration:0.5s;
  @media screen and (max-width: $break-medium) {
//    display: none;
  }
}

#openSubmitDrawer:hover{
  cursor: pointer;
  font-size:2.3em;
}
#editor-holder{
  position: relative;
  height: 100%;
  padding: 0px;
  flex-grow: 1;
}

#expand-icon{
  position: absolute;
  top:10px;
  left: 10px;
  z-index: 2;
  color: $my-dark-orange;
  text-shadow: 1px 1px $dark;
  font-size: 25px;
  transition-property: font-size;
  transition-duration: 0.2s;
}
#expand-icon:hover{
  cursor: pointer;
  font-size: 27px;
}

#like-icon{
  position: absolute;
  top:45px;
  left: 10px;
  z-index: 2;
  color: #D23A3A;
  text-shadow: 1px 1px $dark;
  font-size: 25px;
  transition-property: font-size;
  transition-duration: 0.2s;
}
#like-icon:hover{
  cursor: pointer;
  font-size: 27px;
}
#editor-toolbar-holder{
  height: 160px;
  width: 100%;
//  background-color:$my-dark-orange;
  background-image: url(/assets/images/autumn-leaves.jpg);
  background-size: cover;
//  background-position-y: 100px;
}
#editor-background-fill{
  height:Calc(100% - 160px);
  width: 100%;
  background-color:#F7F7F7 ;
}
#toolbar{
  position:absolute;
  top: 10px;
  left:40px;
  diplay:block;
  height: 70px;
  z-index: 0;
  @media screen and (max-width: $break-medium) {

  }
  @media screen and (max-width: $break-small) {
    overflow-y: scroll;
    overflow-x: hidden;
    transition-property: top;
    transition-duration: 0.3s;
    position:fixed;
    left:0px;
    height:$headerHeight;
    width:100%;
    display: block;
    background-color:$my-dark-orange;
    margin:0px;
    z-index: 5;
    @include box-shadow(0px,1px,10px,0px);
  }

  .btn-group{
    height: 30px;
    @media screen and (max-width: $break-small) {
      width: 100%;
      display: flex;
//      height: 40px;
    }
    button{
      flex-shrink: 1;
      background-color:transparent;
      border:0px;
      border-bottom: 0px;
      color: #fff;
      text-shadow: 2px 2px $dark;
      transition-property: border;
      transition-duration: 0.3s;

    }
    button:hover{
      cursor: pointer;
      border-bottom: 3px solid $my-dark-blue;

    }
    .btn.active{
      cursor: pointer;
      border-bottom: 3px solid $my-dark-blue;
    }
  }
}
#editor{
//  flex-grow:1;
  position: absolute;
  top:100px;
  display: flex;
  width: 93%;
  left:30px;
  // overflow: scroll;
  height:90%;
  z-index:1;
  transition-property: top,left,width,height;
  transition-duration: 0.5s;
  @include box-shadow(0px,0px,10px,0px);
}
