#landing-holder
    #landing-top
        #landing-nav
            #landing-logo P I X - E
            #landing-options
                #launch LAUNCH
                #landing-signIn SIGN IN
        #landing-header
            #landing-header-content
                #landing-content-left
                #landing-content-center
                    #landing-icon
                    #landing-title Pelican
                    #landing-greeting Today we Excell. Tommorow we Exceed
                #landing-content-right
                    #landing-registration
