$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
body,html{
//  box-sizing: border-box;
  position:absolute;
  height:100%;
  width:100%;
//  padding-left:30px;
//  padding-right: 30px;

 overflow: hidden;
}

body{
//  background-color:#E8EBF0;
  background-color: #fff;
}


// Component styles are injected through grunt
// injector
@import 'main/a_variables.scss';
@import 'main/appGlobals/partials/contentLayout.scss';
@import 'main/appGlobals/partials/navigator.scss';
@import 'main/appGlobals/partials/noteList.scss';
@import 'main/appGlobals/partials/responsiveLayout.scss';
@import 'main/appGlobals/partials/searchPanel.scss';
@import 'main/appGlobals/partials/sortSwitch.scss';
@import 'main/appGlobals/partials/viewPanel.scss';
@import 'main/authors/authors.scss';
@import 'main/authors/authorsDetail.scss';
@import 'main/authors/authorsList.scss';
@import 'main/communities/communities.scss';
@import 'main/communities/communitiesList.scss';
@import 'main/composer/editor.scss';
@import 'main/composer/submit.scss';
@import 'main/events/events.scss';
@import 'main/events/eventsList.scss';
@import 'main/home/home.scss';
@import 'main/main.scss';
@import 'main/mixins.scss';
@import 'main/notebooks/notebooks.scss';
@import 'main/notebooks/notebooksList.scss';
@import 'main/notes/note.scss';
@import 'main/partials/header.scss';
@import 'main/partials/list.scss';
@import 'main/partials/login.scss';
@import 'main/partials/menu.scss';
@import 'modal/modal.scss';
// endinjector
