//Variables_____________________________________________________________________
$break-small: 649px;
$break-medium:900px;
$break-tablet:767px;
$break-large: 1200px;
$dark: #2F343B;
$my-dark-purple:#212178;
$my-dark-orange:#ff5500;
$my-light-blue:#1565C0;
$my-dark-blue:#37609c;
$myGrey:#C7C7C7;
$my-medium-grey:#2D3137;
$my-dark-grey:#1B2224;
$my-dark-text:#636567;
//$my-light-grey:;
$my-light-text:#B1BEC1;
$headerHeight:60px;
$menuButtonHeight:100px;
