//Variables_____________________________________________________________________
$break-small: 480px;
$break-medium:800px;
$break-tablet:767px;
$break-large: 1200px;
$dark: #2F343B;
$myGrey:#C7C7C7 ;
