#header(class='row ')

  #logo(class='col-md-4')
    #logo-pix Pix- 
    #logo-e E
      #logo-lander L A N D E R
  
  #second-bar(class='col-md-8 row')
    #user-bar(class='col-xs-6')
      #user-greeting Welcome Back
      #user-name John Doe
      #user-icon(class="fa fa-user")
      
    #edit-bar(class='col-xs-6')
      #create-note(class="fa fa-pencil")
      
#menu
  h1(class='fa fa-book')
