my-header(data="raddi" controller-name="MainCtrl")
menu
submission(controller-name="MainCtrl")
//- text-angular-toolbar(name="toolbar" id="ta-toolbar")

//hidden text area, use it to post data to then us js to take data from it and put editor
//- . {{notes[0].content}}
//- <h1 style="text-align: center; ">Header</h1>
//- ta-toolbar="[['h1','h2','h3'],['bold','italics']]"
