// Mixins_______________________________________________________________________
@mixin box-shadow($h,$v,$b,$s){
  -webkit-box-shadow: $h $v $b $s rgba(0,0,0,0.55);
  -moz-box-shadow: $h $v $b $s rgba(0,0,0,0.55);
  box-shadow:  $h $v $b $s rgba(0,0,0,0.55);
}

@mixin border-radius($tl,$tr,$bl,$br,$px,$color){
  border-radius: $tl $tr $bl $br;
  -moz-border-radius: $tl $tr $bl $br;
  -webkit-border-radius: $tl $tr $bl $br;
  border: $px solid $color;
}

.round-icon{
//    padding:3px;
    @include border-radius(30px,30px,30px,30px,1px,$my-dark-orange);
}