.modal{
    position: fixed;
    top:0px;
    left:0px;
    bottom:0px;
    right:0px;
    display: none;
    opacity: 0;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
    transition-property: opacity;
    transition-duration: 0.3s;
}


.modal[active="true"]{
    opacity: 1;
}

.modal-closeButton{
    position: absolute;
    height: 20px;
    width: 20px;
    top:10px;
    right: 10px;
    background-color: red;
}

.modal-content{
    position: relative;
    height: auto;
    min-height: 300px;
    width: 90%;
    max-width: 500px;
    background-color: #FAFAFA;
    -webkit-box-shadow:0px 0px 50px 0px #000;
    box-shadow:0px 0px 50px 0px #000;
    border-radius: 5px;
    color: #919191;
    z-index: 3;
}
