#navigator{
	position:fixed;
	height:100%;
	width:60px;
	z-index: 1;
	background-color: #292724;
	transition-property:width;
	transition-duration:0.25s;
	transition-delay: 0.3s;
	transition-timing-function: ease;
	overflow:hidden;
	padding: 0;

}

#login{
	height: 100%;
	width: 100%;
	line-height: 100px;

	a:hover{
		cursor: pointer;
	}
}

#navigator-options-holder{
	a{
			position: relative;
			list-style: none;
			display: flex;
			align-items: center;
			width: 100%;
			height: 45px;
			line-height: 45px;
			padding: 20px;
			color:$my-dark-text;
			font-family: 'Roboto';

			div:nth-child(1){
					display: block;
					font-size:20px;
					height: 45px !important;
					line-height: 45px;

			}
			div:nth-child(2){
					display: block;
					position:absolute;
					left:60px;
					top:0px;
					height: 45px !important;
					line-height: 45px;
					// padding-left: 30px;
					opacity: 1;
					transition-property: opacity,padding-left;
					transition-duration: 0.3s;
					transition-delay: 0.3s;
					transition-timing-function: ease;
			}
	}

	a:hover{
			background-color: #fff;
			color:$my-light-text;
			cursor: pointer;
	}

}

.navigator-option[active='true']{
		background-color: #fff;
}

#navigator[hover='true']{
		width:200px;
		a{
				div:nth-child(1){

				}
				div:nth-child(2){
						// padding-left: 15px;
					opacity:1;
				}
		}
}

#navigator>#navigator-header{
		height: 60px;
		transition-property: height;
		transition-duration: 0.25s;
		transition-timing-function: ease;
		transition-delay: 0.3s;
}

#navigator[hover='true']>#navigator-header{
		// height: 100px;
}
#navigator-header-logo{
		opacity: 0;
		transition-property: opacity;
		transition-duration: 0.25s;
		transition-delay: 0.3s;
		transition-timing-function: ease;
}


#navigator:hover>div>div{
		opacity: 1;
}

#navigator-header:before{
		position: absolute;
		height: 100%;
		width: 100%;
		top:0px;
		left:0px;
		content:"";
		background-image: url(/assets/images/life-line.jpg);
		background-size: 500px;
		background-origin: top left;
		background-position: -140px -200px;
		background-attachment: fixed;
		background-repeat: no-repeat;
		z-index: -1;
}


#navigator-header{
		position: relative;
		width:100%;
		display:flex;
		align-items: center;
		justify-content: center;

		#navigator-header-logo{
				height: 100%;
				width: 100%;
				background-color: rgba(10, 10,10, 0.3);
				display: block;
				border-radius: 3px;
				color:white;
				line-height: 60px;
				text-align: center;
				font-family: 'Raleway';
				font-size: 20px;
				text-shadow: 2px 2px #1B2224;
		}
}

#navigator-welcome{
		height: 120px;
		color:#636567;
		font-size: 20px;
		padding: 10px;
		text-align: center;
		width: 170px;
		opacity: 0;
		transition-property: opacity;
		transition-duration: 0.25s;
		transition-delay: 0.3s;
		font-family: 'Roboto';
		margin:0 auto;
		display:flex;
		flex-direction:column;
		justify-content:center;
		a:hover{
			cursor: pointer;
		}
}

#navigator:hover>#navigator-welcome{
		opacity: 1;
}

#navigator-icon{
		@extend .round-icon;
		height:40px;
		width:40px;
}

#navigator-menu-button{
		display: none;
}

// res vie
@media screen and (max-width:$break-large){
    #navigator-options-holder{
        position: fixed;
        top:0px;
        height: 100%;
        width: 70%;
        max-width: 400px;
        background-color: $my-dark-grey;
        transition-property: left;
        transition-duration: 0.5s;
    }

     #navigator-options-holder[show="false"]{
         left:-999px;
     }

     #navigator-options-holder[show="true"]{
         left:0px;
     }

     #navigator{
         position:absolute;
         top:0px;
         left:0px;
         height:0px;
         width:0px;
         background-color:transparent;
         transition-property:none;
         overflow:visible;
     }
     #navigator:hover{
         width:0px;
     }


     #navigator>#navigator-header{
			display:none;
     }

     #navigator:hover>#navigator-header{
          display: none;
     }

     #navigator>div>div{
        display: none;
     }

     #navigator-header:before{
         display: none;
     }

     #navigator-header{
         display:none;

         #navigator-header-logo{
             display: none;
             background-image: none;
         }
     }

     #navigator-welcome{
         display: none;
			}
}
