ul#navigator(on="false" hover='false')
    #navigator-header
        #navigator-header-logo Pelican
    #navigator-welcome()
        h6(ng-show="user().name") Welcome Back
        #login(ng-hide="user().name")
          a(data-modal-button) Log In
            modal#modal()
              #modal-login
                input(type="text" placeholder="username" ng-model="username")
                input(type="password" placeholder="password" ng-model="password")
                #loginButton(ng-click="login(username,password)") Login

        #navigator-icon-holder(ng-show="user().name")
            img#navigator-icon(src='assets/images/radcliffe.jpg')
            #user-name
                h4
                  a(us-sref="personal") {{user().name}}
    //- #navigator-menu-button(class="fa fa-bars")
    #navigator-options-holder(show="false")
        a.navigator-option(ui-sref="home" name="home")
            div
                i(class="fa fa-home")
            div Home
        a.navigator-option(ui-sref="compose" name="Composer")
            div
                i(class="fa fa-pencil-square-o")
            div Compose
        a.navigator-option(ng-click="openView('notes')" name="Notes")
            div
                i(class="fa fa-file-text-o")
            div Notes
        a.navigator-option(ui-sref="notebooks" name="My notebooks")
            div
                i(class="fa fa-book")
            div Notebooks
        a.navigator-option(ui-sref="communities" name="Communities")
            div
                i(class="fa fa-users")
            div Nests
        a.navigator-option(ui-sref="authors" name="Authors")
            div
                i(class="fa fa-user")
            div Authors
        a.navigator-option(ui-sref="events" name="Upcoming events")
            div
                i(class="fa fa-bookmark-o")
            div Events
        a.navigator-option
            div
                i(class="fa fa-search-plus")
            div Pretty search
        a.navigator-option
            div
                i(class="fa fa-code")
            div About Pelican
        a.navigator-option
            div
                i(class="fa fa-sign-out")
            div Logout
