#note-list-container{
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    font-family: 'Roboto';
}

#notes-list-container:hover{

}

#note-list-container ul {
    width:100%;
    overflow: scroll;
    overflow-x: hidden;
    height:100%;
    list-style:none;
    margin:0;
    padding:0;
//    background-color: #1B2224;
}

#note-list-container ul li{
    position: relative;
    height: 125px;
    width: 100%;
    margin: 4px auto;
    top:0px;
    left:0px;
    box-shadow: -1px 1px 2px 0px rgba(50, 50, 90, 0.2);
    transition-property: top,left,box-shadow;
    transition-duration: 0.1s;
//    background: linear-gradient(45deg, rgba(0,0,0,.4) 50%, transparent 0) 100% 0 / 25px 25px no-repeat,
//        linear-gradient(-135deg, transparent 18px, rgba(255, 255, 255, 0.78) 0) 0 / auto; /* ceil(25/sqrt(2)) = 18 */
    background: linear-gradient(45deg, rgba(0,0,0,.4) 50%, transparent 0) 100% 0 / 25px 25px no-repeat,
        linear-gradient(-135deg, transparent 18px, rgba(240, 240, 228, 0.78) 0) 0 / auto; /* ceil(25/sqrt(2)) = 18 */
//    background: linear-gradient(45deg, rgba(0,0,0,.4) 50%, transparent 0) 100% 0 / 25px 25px no-repeat,
//        linear-gradient(-135deg, transparent 18px, rgba(90, 113, 99, 0.2) 0) 0 / auto; /* ceil(25/sqrt(2)) = 18 */
}

#note-list-container ul li:hover{
    cursor: pointer;
    // height:110%;
    top:-2px;
    left:2px;
    box-shadow: -1px 2px 3px 0px rgba(50, 50, 120, 0.6);
//    background: linear-gradient(45deg, rgba(0,0,0,.4) 50%, transparent 0) 100% 0 / 25px 25px no-repeat,
//        linear-gradient(-135deg, transparent 18px, rgba(120, 93, 109, 0.2) 0) 0 / auto; /* ceil(25/sqrt(2)) = 18 */
}

.list-item-body{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    padding: 0px;

}

.list-item-stats-holder{
    display: flex;
    height: 100%;
    width: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-right: 1px solid;

}

.list-item-stat{
    i{
        padding: 10px;
    }
}

.list-item-details{
    flex-grow: 1;
    height: 100%;
    padding: 10px 0px 0px 10px;
    display: flex;
    flex-direction: column;
}

.list-item-details-top{
    height: 40px;
    display: flex;
    .list-item-title{
        font-size: 30px;
        font-family: 'Raleway';
        font-weight: 200;
        width:340px;
        white-space:nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.list-item-details-bottom{
    flex-grow: 1;
    color:$my-light-text;
}

// Math related colors
.Mathematics{
    .list-item-body{
        .list-item-stats-holder{
            background-color: #9365B8;
        }
    }
}
//Computer science uses indigo
.Computing{
    .list-item-body{
        .list-item-stats-holder{
            background-color: #1A237E;
        }
    }
}

// .Computing{
//     .list-item-body{
//         .list-item-stats-holder{
//             background-color: #1A237E;
//         }
//     }
// }

// Engineering related colors
.Engineering{
    .list-item-body{
        .list-item-stats-holder{
            background-color: #b96773;
        }
    }
}

.English{
    .list-item-body{
        .list-item-stats-holder{
            background-color: #67b9b7;
        }
    }
}

.English{
    .list-item-body{
        .list-item-stats-holder{
            background-color: #67b9b7;
        }
    }
}

.blank{
    opacity:0;
}