//$break-small: 320px;
//$break-large: 1200px;
//$break-medium: 964px;
#close-icon,#editButton{
    display: none;
}
@media screen and (max-width:$break-large){
}

@media screen and (max-width:$break-large){

     #close-icon,#editButton{
         display: block;
     }

     #shrink-submit{
         display: none;
     }

     #home-container{
        width: 100% !important;
        left:0px !important;
        z-index: 2;
     }
    #search-panel{
        width: 100% !important;
        max-width: 100% !important;
    }
 }
