
#search-panel{
    position: relative;
    height:100%;
    width: 450px;
    opacity:1;
    padding: 30px;
    padding-bottom: 0px;
    transition-property:width,opacity;
    transition-duration:0.5s;
    background-color: #fff;
//    background-color: #f2f1eb;
}

#search-options-view{
    position: absolute;
    height: 100%;
    width: Calc(100% - 30px);
    background-color: black;
    opacity:0;
    display: none;
//    z-index: 2;

}

#search-panel-top{
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $my-light-text;
}
#search-box{
    height: 70%;
    width: 100%;
    
    div:nth-child(1){
        float:left;
        font-family: 'Raleway';
        font-weight: 200;
        font-size: 30px;
        
    }
    div:nth-child(2){
        float:right;
        opacity:0.7;
        position:relative;
        height: 30px;
        
        input{
            border:2px solid $my-light-text;
            height: 100%;
            outline:0px;
//            height: 30px;
        }
        input~#input-bar{
            position:absolute;
            right:28px;
            top:0px;
            height: 100%;
            width: 5px;
            background-color:$my-dark-orange;
            transition-property: right,width,background-color,opacity;
            transition-duration: 0.3s;
        }
        
        @keyframes blink{
            from {opacity: 0;}
            to {opacity: 1;}
        }
        
        input:focus~#input-bar{
            right:Calc(100% - 3px);
//            background-color: #3eb8dd;
            animation: blink 0.7s infinite alternate;
            
            width:2px;
        }
        input~span{
            display: block;
            position:absolute;
//            top:50%;
            width: 30px;
            height: 100%;
            top:0px;
            line-height: 30px;
            right:0px;
            text-align: center;
            background-color: $my-dark-orange;
            transition-property: background-color;
            transition-duration: 0.3s;
//            padding: 5px;
            font-size: 20px;
//            box-sizing: border-box;
            font-weight: 700;
            i{
                line-height: 30px;
            }
        input:focus~span{
            background-color: #7bbbdd;
            }
            
        }
        
        input~span:before{
            position:absolute;
            top:50%;
            left:-10px;
            transform:translate(0px,-50%);
            content:"";
            height:0px;
            width:0px;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-right: 10px solid $my-dark-orange;
        }
    }
}
#search-options{
    color:$my-light-text;
    i,a{
        padding: 10px;
//        padding-right: 20px;
    }
    
    i:hover,a:hover{
        font-size: 17px;
        cursor: pointer;
        //        padding-right: 20px;
    }
    
    #search-options-sort{
        float: right;
        .search-sorting-option{
            display: inline-block;
            padding: 5px;
        }
        .search-sorting-option:hover{
            cursor: pointer;
        }
    }
}

#search-panel-bottom{
    position: relative;
    height: Calc(100% - 150px);
    width: 100%;
}


#menu-settings[show="false"]{
    opacity: 0;
    transition-property:height,border-top,border-bottom,opacity;
    transition-duration:0.6s;
    transition-timing:ease-out;
    height:0px;
//    display: none;
}
#menu-settings[show="true"]{
  display:flex;
  opacity:1;
  flex-direction: column;
  position:absolute;
  top:0px;
  left:0px;
  height:300px;
  width:100%;
  background-color: #ffffff;
  transition-property:height,border-top,border-bottom,opacity;
  transition-duration:0.6s;
  transition-timing:ease-out;
  border-bottom:0;
  border-top:0;
  padding-top:10px;
  // border-bottom:5px solid #5eb793;
  font-family:"Oswald";
  // font-weight:300;
  color: #2D3138;
  z-index: 7;
}
.settings-category{
  display: flex;
    height: 50px;
  span{
    width:30%;
    opacity:1;
    transition-property:opacity;
    transition-duration:0.3s;

  }
  input{
    display: block;
    opacity:1;
    transition-property:opacity;
    transition-duration:0.3s;
    width:60%;
  }
}


#menu-settings-title{
  height:30px;
  // top:0px;
  width:100%;
  background-color:#fefefe;
  text-align:center;
  color: #534f4f;
}

#menu-settings-close{
  height:30px;
  position:relative;
//  bottom:0px;
  // margin-bottom:10px;
  width:100%;
  background-color:#fefefe;
  text-align:center;
  color: #534f4f;
  span{
    position:absolute;
    top:50%;
    left:0px;
    transform:translate(0,-50%);
    line-height:30px;
  }
}

#menu-settings-close:hover{
  cursor: pointer;
}
.settings-close-icon{
  width:100%;
  height:100%;
  text-align:center;
}

#toggle-search-panel{
    width:30px;
    height:30px;
    // border:1px solid red;
    position:fixed;
    top:60px;
    left:100px;
    z-index:10;
}
[shrink="true"]{
    width:0px !important;
    display: none;
    // left:-200px;
    // opacity:0 !important;
//    *:not(#toggle-search-panel){
//        opacity:0 !important;
//        // width:0px !important;
//    }

}