#search-panel{
    position: relative;
    height:100%;
    max-width: 450px;
    width:100%;
    opacity:1;
    padding: 30px;
    padding-bottom: 0px;
    transition-property:width,opacity;
    transition-duration:0.5s;
    background-color: #fff;
    z-index: 0;
}

#search-options-view{
    position: absolute;
    height: 100%;
    width: Calc(100% - 30px);
    background-color: black;
    opacity:0;
    display: none;
}

#search-panel-top{
    position: relative;
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $my-light-text;
}

#notes-search-bar{
  height: 70%;
  width: 100%;
}

#search-panel-heading-box{
    div:nth-child(1){
        float:left;
    }
}
#search-options{
  position: absolute;
  bottom: 0px;
    color:$my-light-text;
    i,a{
        padding: 10px;
    }

    i:hover,a:hover{
        font-size: 17px;
        cursor: pointer;
    }

    #search-options-sort{
        float: right;
        .search-sorting-option{
            display: inline-block;
            padding: 5px;
        }
        .search-sorting-option:hover{
            cursor: pointer;
        }
    }
}

#search-panel-bottom{
    position: relative;
    height: Calc(100% - 150px);
    width: 100%;
}


#menu-settings[show="false"]{
    opacity: 0;
    transition-property:height,border-top,border-bottom,opacity;
    transition-duration:0.6s;
    transition-timing:ease-out;
    height:0px;
}

#menu-settings[show="true"]{
  display:flex;
  opacity:1;
  flex-direction: column;
  position:absolute;
  top:0px;
  left:0px;
  height:300px;
  width:100%;
  background-color: #ffffff;
  transition-property:height,border-top,border-bottom,opacity;
  transition-duration:0.6s;
  transition-timing:ease-out;
  border-bottom:0;
  border-top:0;
  padding-top:10px;
  font-family:"Oswald";
  color: #2D3138;
  z-index: 2;
}

.settings-category{
  display: flex;
    height: 50px;
  span{
    width:30%;
    opacity:1;
    transition-property:opacity;
    transition-duration:0.3s;

  }
  input{
    display: block;
    opacity:1;
    transition-property:opacity;
    transition-duration:0.3s;
    width:60%;
  }
}


#menu-settings-title{
  height:30px;
  width:100%;
  background-color:#fefefe;
  text-align:center;
  color: #534f4f;
}

#menu-settings-close{
  height:30px;
  position:relative;
  width:100%;
  background-color:#fefefe;
  text-align:center;
  color: #534f4f;
  span{
    position:absolute;
    top:50%;
    left:0px;
    transform:translate(0,-50%);
    line-height:30px;
  }
}

#menu-settings-close:hover{
  cursor: pointer;
}
.settings-close-icon{
  width:100%;
  height:100%;
  text-align:center;
}

#toggle-search-panel{
    width:30px;
    height:30px;
    position:fixed;
    top:60px;
    left:100px;
    z-index:2;
}
[shrink="true"]{
    width:0px !important;
    display: none;
}

@media screen and (max-width:$break-large){
    #search-panel{
        padding: 0px;
        overflow-y: scroll;
        overflow-x: hidden;
        z-index: 1;

        #note-list-container{
            overflow: none !important;
            height: auto;
        }
    }

    #search-panel-top{
        position: relative;
        height: 100px;
    }

    #search-panel-heading-box{
        position: fixed;
        height: 60px;
        width: 100%;
        background-color: #fff;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        div:nth-child(1){
            font-size: 4vw;
        }
    }

    #search-options{
        position: absolute;
        bottom: 0px;
    }
}
