#search-panel(shrink='false')
	//- i#toggle-search-panel(class='fa fa-arrows-h')
	#search-options-view
	#search-panel-top
		#search-panel-heading-box
			.heading-box
				div.heading {{heading()}}
				.search-bar(ng-show="$scope.show")
					input(type="text" ng-model="filter" placeholder="Filter...")
					span
						i(class="fa fa-search")
					#input-bar
		#search-options(ng-show="$scope.show")
			i(class="fa fa-gears" id="menu-settings-button" )
			//- i(class="fa fa-sort-numeric-desc")
			//- i(class="fa fa-eye")
			i#reloadButton(class="fa fa-refresh" ng-click="refreshPage()")
			#search-options-sort(data-sort-switch="")
				.search-sorting-option(ng-click="$scope.order='-viewCount+likeCount'") Rating
				.search-sorting-option(ng-click="$scope.order='-createdAt'") Recent
	#search-panel-bottom(data-menu ng-transclude)
