.view-wrapper(ng-init="$scope.order='subject';setHeading(getLocation());$scope.show='true';")
    .content-container
        search-panel
            #menu-settings(show='false')
                #menu-settings-title Search Settings
                .settings-category
                    span.subject-label Subject
                    input.subject-input(type='text' list='subjects' ng-model="search.subject")
                br
                .settings-category
                    span.subject-label Author
                    input.subject-input(type='text' list='Authors' ng-model="search.author")
                br
                .settings-category
                    span.subject-label Contains Text
                    input.subject-input(type='text' ng-model="search.content" placeholder="use filter bar")
                #menu-settings-close(ng-click="loadList(search.subject)")
                    span(class="glyphicon glyphicon-circle-arrow-up settings-close-icon ok")

                datalist(id="subjects")
                    option Mathematics
                    option English
                    option Engineering
                    option All
                datalist(ng-controller="authorsCtrl" id="Authors")
                    option(ng-repeat="author in $scope.authors()") {{author.name}}
            note-list
        .content-panel(ng-controller='viewCtrl' show="false" class="{{selected().subject}}" notes='')
            #content-panel-info-holder
                #content-panel-info
                    #content-panel-info-left
                        p {{selected().title}}
                        p {{myMoment(selected().createdAt).format('MMMM Do YYYY')}}
                        p {{selected().AuthorName}}
                    #content-panel-info-right
                        #notebookButton.button(data-modal-button) SAVE
                            modal#modal(ng-controller='viewCtrl' active="false" ng-init="notebook = ''")
                                #modal-notebook
                                    p Select a notebook to add to
                                    input(id="notebook" ng-model="notebook" list="notebooksList"  placeholder="note")
                                    datalist(id="notebooksList")
                                        option(ng-repeat="notebook in notebooks()" value="{{notebook.name}}")
                                    #addToNotebook(ng-click="addToNotebook(selected().id,notebook)") Add

            div.viewer(class="viewPanel" data-expanding-panel show="false" on="false" focus="false")
                #content-panel-icon-holder
                    i#expand-panel-icon(class="fa fa-arrows-alt")
                    i#like-icon(class="fa fa-heart" ng-click="likeNote()")
                    i#close-icon(class="fa fa-close")
                    i#shrink-submit(class="fa fa-expand")
                #viewInner
