.view-wrapper(ng-init="setHeading('Authors');$scope.show='true'")
    .content-container
        search-panel
            authors-list
        .content-panel(show="false")
            i#close-icon(class="fa fa-close")
            authors-detail