#note-list-container
  ul
      li(ng-repeat="author in authors() | filter:$parent.filter"  class="{{author.subject}}" ng-click="openAuthor(author.name)" onclick="if($('.content-panel').attr('show') == 'false'){$('.content-panel').attr('show','true');}else{$('.content-panel').attr('show','false');}")
        .list-item-body
            .list-item-stats-holder
                .list-item-stat
                    i(class="fa fa-pencil-square-o")
                    span {{author.Notes.length}}
                .list-item-stat
                    i(class="fa fa-heart-o")
                    span {{author.Likes.length}}
            .list-item-details
                .list-item-details-top
                    .list-item-title {{author.name}}
                    .list-item-tags
                    .list-item-time
                .list-item-details-bottom
                    .list-item-description Rank : {{author.rank}}
                    .list-item-author Reputation : {{author.reputation}}