#sub-options-holder{
  height:100%;
  width:100%;
}

.sub-option{
  display: block;
  width:100%;
  text-align:center;
  margin-top:20px;
  color:#626262;
  font-family:"Oswald";

  input{
    height:40px;
    padding: 10px;
    width:70%;
  }
}
#composer-submitButton{
  float:right;
  background-color:#36BCC7;
}

#editButton{
    height: 30px;
    width:100px;
    float:left;
    border-radius: 2px 2px 2px 2px;
    line-height: 30px;
    background-color:#36bcc7;
    transition-property:background-color !important;
    transition-duration:0.3s;

    span{
        line-height:40px;
        font-weight:700;
        color:#528845;
        font-size:30px;
    }

}

#composer-submitButton:hover{
  background-color: #4BAE4F;
}
#composer-submitButton:active{
  background-color: #3a8436;
}

#editButton:hover{
    cursor: pointer;
    background-color: #4BAE4F;
}
#editButton:active{
    cursor: pointer;
    background-color: #3a8436;
}

#openSubmitDrawer{
  position:fixed;
  top:20px;
  opacity:1;
  left:10px;
  font-size:30px;
  z-index: 5;
  transform:rotate(0deg);
  transition-property:transform,top,opacity;
  transition-duration:0.5s;
  @media screen and (max-width: $break-medium) {
//    display: none;
  }
}

#openSubmitDrawer:hover{
  cursor: pointer;
  font-size:2.3em;
}

#expand-icon,#expand-panel-icon{
  position: absolute;
  top:10px;
  left: 10px;
  z-index: 2;
  color: $my-dark-orange;
  text-shadow: 1px 1px $dark;
  font-size: 25px;
  transition-property: font-size,opacity;
  transition-duration: 0.2s;
  opacity: 0.2;
}
#expand-icon:hover,#expand-panel-icon:hover{
  cursor: pointer;
  font-size: 27px;
    opacity: 1;
}

#like-icon{
  position: absolute;
  top:45px;
  left: 10px;
  z-index: 2;
  color: #D23A3A;
  text-shadow: 1px 1px $dark;
  font-size: 25px;
  transition-property: font-size,opacity;
  transition-duration: 0.2s;
  opacity: 0.2;
}
#like-icon:hover{
  cursor: pointer;
  font-size: 27px;
    opacity: 1;
}

#close-icon{
    position: absolute;
    top:75px;
    left: 10px;
    z-index: 2;
    color: #D23A3A;
    text-shadow: 1px 1px $dark;
    font-size: 25px;
    transition-property: font-size;
    transition-duration: 0.2s;
    opacity: 0.2;
}
#close-icon:hover{
    cursor: pointer;
    font-size: 27px;
    opacity: 1;
}
#shrink-submit{
    position: absolute;
    top:75px;
    left: 10px;
    z-index: 2;
    color: #3a86d2;
    text-shadow: 1px 1px $dark;
    font-size: 25px;
    transition-property: font-size;
    transition-duration: 0.2s;
    opacity: 0.2;
}
#shrink-submit:hover{
    cursor: pointer;
    font-size: 27px;
    opacity: 1;
}
#editor-toolbar-holder{
  height: 160px;
  width: 100%;
//  background-color:$my-dark-orange;

  background-size: cover;
//  background-position-y: 100px;
    @media screen and (max-width: $break-medium) {
        position: relative;
        width: 120px;
        height: 100%;
        top:0px;
        order:2;
        transition-duration: opacity,width;
        transition-duration: 0.4s;
    }
}

@media screen and (max-width: $break-medium) {
    #editor-toolbar-holder[show="false"]{
        width: 0px;
        opacity: 0;
    }
}
#editor-background-fill{
  height:Calc(100% - 160px);
  width: 100%;
  background-color:#F7F7F7 ;
//    display: none;
    @media screen and (max-width: $break-medium) {
        position: absolute;
        height: 100%;

    }
}
#toolbar{
  position:absolute;
  top: 0px;
  left:0px;
  diplay:block;
  height: 50%;
  width: 100%;
  z-index: 0;
  padding: 35px;
  margin:2px;
  background-image: url('/assets/images/autumn-leaves.jpg');
    background-size: 100%;
    background-repeat: no-repeat;

  @media screen and (max-width: $break-medium) {
    position:relative;
    padding: 0px;
    left:0px;
    top:0px !important;
    height:inherit;
    width:100%;
    display: flex;
    flex-wrap: wrap;
    background-color:$my-dark-orange;
    margin:0px;
    z-index: 5;
    background-image:url();
  }

  .btn-group{
    height: 30px;

//      width: 100%;
      display: flex;
//      justify-content: space
//     flex-direction: column;
    @media screen and (max-width: $break-medium) {
        width: 40px;
        height:40%;
        display: flex;
        flex-direction: column;
    }
      .btn-group:nth-child(4){
          height: 30px;
          width: 200px;
          button{
          }

      }

    button{
      flex-shrink: 1;
      height: 100%;
//      width: 30px;
      background-color:transparent;
      border:0px;
      border-bottom: 0px;
      color: #fff;
      text-shadow: 2px 2px $dark;
      transition-property: border;
      transition-duration: 0.3s;
        @media screen and (max-width: $break-medium) {
            width: 100%;
            height:40%;
        }

    }
    button:hover{
      cursor: pointer;
      border-bottom: 3px solid $my-dark-blue;

    }
    .btn.active{
      cursor: pointer;
      border-bottom: 3px solid $my-dark-blue;
    }
  }
}
#editor{
//  flex-grow:1;
  position: absolute;
  top:100px;
  display: flex;
  width: 93%;
  left:30px;
  // overflow: scroll;
  height:90%;
  z-index:1;
  transition-property: top,left,width,height;
  transition-duration: 0.4s;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.55);
    @media screen and (max-width: $break-medium) {
        position: relative;
        left:0px !important;
        top:100px;

    }
}



#viewPanel{
  position: absolute;
  top:100px;
  display: flex;
  width: 93%;
  left:30px;
  // overflow: scroll;
  height:90%;
  z-index:1;
  transition-property: top,left,width,height;
  transition-duration: 0.5s;
  // @include box-shadow(0px,0px,10px,0px);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.55);
}
