#note-list-container
  ul
    li(ng-repeat="community in communities() | filter:$parent.filter"  class="{{community.subject}}" ng-click="openCommunity($index)")
        .list-item-body
            .list-item-stats-holder
                .list-item-stat
                    i(class="fa fa-eye")
                    span
                .list-item-stat
                    i(class="fa fa-heart-o")
                    span
            .list-item-details
                .list-item-details-top
                    .list-item-title {{community.name}}
                    .list-item-tags
                    .list-item-time
                .list-item-details-bottom
                    .list-item-description Members :{{community.Members.length}}
                    .list-item-author Total notes : {{community.Notes.length}}